body {
  margin: 0;
  padding: 0;
  background: #dadada;
}

.container {
  margin: 30px 0 0 0;
  text-align: center;
}

canvas {
  border: 1px solid #cccccc;
}

.sidebar {
  float: right;
}

.card {
  background: #fafafa;
}
