body {
  background: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

canvas {
  background-color: rgb(250, 255, 215);
  border: 1px solid #d6d6d6;
  height: 640px;
  width: 700px;
}

.container {
  margin: 20px 0 0 0;
  text-align: center;
}

.canvas-container {
  display: inline-block;
  vertical-align: top;
}

/* Card UI design */
.gui-helper {
  margin: 0 20px 20px 20px;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.gui-card {
  background: rgb(255, 255, 255);
  width: 300px;
  margin: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #4c4c4c;
  font-size: 15px;
}

.gui-card-container {
  border: 1px solid #d6d6d6;
  padding: 10px;
}

.gui-card-label {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

/* Simulation */
.simulation-lumberjack-label {
  color: #A11919;
}

.simulation-tree-label {
  color: #339933;
}

.simulation-bear-label {
  color: #806953;
}

.text-green {
  color: #33A933;
}

.text-red {
  color: #BC3C2C;
}

@media (max-width: 1060px) {
  .gui-helper {
    display: none;
  }
}
