body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px 0 0 0;
  text-align: center;
}

canvas {
  border: 1px solid #cccccc;
}

.nice-btn {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 2px;
}

.nice-btn:hover {
  cursor: pointer;
}

.black {
  background: #282828;
}

.black:hover {
  background: #5CAEFE;
}

.sidebar {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #606060;
  float: right;
  margin: 35px 50px 0 0;
  width: 250px;
}

.sidebar a {
  color: #606060;
  text-decoration: none;
}

.sidebar a:hover {
  color: #5CAEFE;
}

.card {
  padding: 10px;
}

.card-title {
  font-size: 30px;
  margin: 0 0 60px 0;
  cursor: default;
}

.card-body {
  margin: 0 0 60px 0;
}

.card-item {
  margin: 0 0 10px 0;
  cursor: pointer;
  width: auto;
}

.card-item:hover {
  color: #FA2E3E;
}
