body {
  background: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

canvas {
  background-color: rgb(250, 255, 215);
  border: 1px dashed #454545;
  height: 640px;
  width: 700px;
}

.container {
  text-align: center;
  margin: 20px 0 0 0;
}

/* Card UI design */
.gui-helper {
  float: right;
  margin: 0px 20px 20px 0;
  text-align: left;
  line-height: 25px;
}

.gui-card {
  background: rgb(255, 255, 255);
  width: 250px;
  margin: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #4c4c4c;
  font-size: 15px;
}

.gui-card-container {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.gui-card-label {
  margin: 0px 0 10px 0;
  border-bottom: 1px solid #dadada;
  width: 100%;
}

/* Simulation */
.simulation-lumberjack-label {
  color: #A11919;
}

.simulation-tree-label {
  color: #339933;
}

.simulation-bear-label {
  color: #806953;
}

.simulation-status {
  color: #BC3C2C;
}
